.container {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);

  @media screen and (max-width: 600px) {
    height: 400px;
  }
}

.imgContainer {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 20px;
  border: 8px solid rgb(40, 103, 139);
}

img {
  position: relative;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  opacity: 0.9;
}

.particlesContainer {
  position: relative;
  width: 100%;

  canvas {
    -webkit-box-shadow: inset 0px -2px 8px -4px rgba(0,0,0,0.59);
    -moz-box-shadow: inset 0px -2px 8px -4px rgba(0,0,0,0.59);
    box-shadow: inset 0px -2px 8px -4px rgba(0,0,0,0.59);
    z-index: -1;
    // border-bottom: thin solid rgb(197, 197, 197);
    height: 500px !important;
    @media screen and (max-width: 600px) {
      height: 400px !important;
    }
  }
}

.title {
  text-align: center;
  position: relative;
  width: 100%;
  top: -380px;
}

.name {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.content {
  width: 100%;
  height: 500px !important;
  @media screen and (max-width: 600px) {
    height: 400px !important;
  }
}